---
layout: page
title: Projects
---

<section id="projects">
<div class="container">
  <div class="panel panel-default">
    <h3 name="education" id="education">Education</h3>
    <div class="panel-body">
      <h5 class="project closer">
        <span class="title">PhD in Computer Science</span>
        <span class="dates">2011 - 2015</span>
        <span class="company">
          University of Amsterdam - Amsterdam, The Netherlands
          <a href="https://www.illc.uva.nl/" target="_blank">
            <i class="fa fa-external-link" style="font-size: 70%;"></i>
          </a>
        </span>
      </h5>

      <h5 class="project closer">
        <span class="title">Master's degree in Computer Science</span>
        <span class="dates">2008 - 2010</span>
        <span class="company">
          University of Buenos Aires - Buenos Aires, Argentina
        </span>
      </h5>

      <h5 class="project closer">
        <span class="title">Bachelor's degree in Computer Science</span>
        <span class="dates">2005 - 2008</span>
        <span class="company">University of Buenos Aires - Buenos Aires, Argentina</span>
      </h5>
    </div>
  </div>

  <div class="panel panel-default">
    <h3>Employment</h3>
    <div class="panel-body">
      {% for project in site.data.employment %}
      <h5 class="project">
        <!-- <i class="fa fa-cog"></i>&nbsp;&nbsp; -->
        <span class="title">{{ project.title }}</span>
        <span class="dates">{{ project.dates }}</span>
        <span class="company">
          {{ project.company }}
          {% if project.link %}
          <a href="{{ project.link }}" target="_blank">
            <i class="fa fa-external-link" style="font-size: 70%;"></i>
          </a>
          {% endif %}
        </span>
        {% if project.points %}
        <ul>
          {% for item in project.points %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if project.tech %}
        <span class="tech">Technologies:</span>
        <span class="techlist">{{ project.tech | array_to_sentence_string }}</span>
        {% endif %}
      </h5>
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <h3 name="opensource" id="opensource">Open Source</h3>
    <div class="panel-body">
      <div style="text-align: left">
        I have accounts at <a href="https://github.com/fcarreiro" target="_blank">GitHub</a>,
        <a href="https://gitlab.com/u/fcmod" target="_blank">GitLab</a>,
        and <a href="https://bitbucket.org/fcmod/" target="_blank">Bitbucket</a>.
        However, most of the work I do is private, so you will not be able to see it.
        Moreover, I don't keep merged forks in my accounts.
        My contributions are better accessed through the following list.
      </div>
      <div class="panel-body opensource">
        {% for ositem in site.data.opensource %}
          <h5 class="opensourceitem">
            <span class="fa fa-github"></span>&nbsp;&nbsp;
            {% if ositem.addendum %}
            <a href="{{ ositem.url }}" target="_blank">{{ ositem.title }}</a> ({{ ositem.addendum }}):
            {% else %}
            <a href="{{ ositem.url }}" target="_blank">{{ ositem.title }}</a>:
            {% endif %}
            {% if ositem.issues.size > 0 %}
              Issues
              {% for issue in ositem.issues %}
                <a href="{{ ositem.url }}issues/{{ issue }}" target="_blank">
                #{{ issue }}</a>{% if forloop.last %}.{% else %}, {% endif %}
              {% endfor %}
            {% endif %}
            {% if ositem.prs.size > 0 %}
              Pull requests
              {% for pr in ositem.prs %}
                <a href="{{ ositem.url }}pull/{{ pr }}" target="_blank">
                #{{ pr }}</a>{% if forloop.last %}.{% else %}, {% endif %}
              {% endfor %}
            {% endif %}
            {{ ositem.comment }}
            {% if ositem.language %}
              <span class="lang">{{ ositem.language }}</span>
            {% endif %}
          </h5>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>
